{% extends "master.html" %}

{% block title %}Subscription confirmation{% endblock %}

{% block content %}

<h1>Thank You for subscribing to {{ newsletter_title }}!</h1>
   <h2>We've sent a confirmation email to your inbox. <br>
   To complete your subscription, please <strong>click the confirmation link</strong> in the email.<br>
   <strong>This step is essential to ensure the validity of your email address.</strong></h2>
<br>
<h2>If you haven't received our confirmation email from {{ from_email }}, kindly check your spam folder or <a href="{{ from_email }}">contact us</a> for assistance.</h2>

{% if signature %}
<br><br>
<h2>Best regards,</h2>
<br>
<h2>{{ signature|safe }}</h2>
{% endif %}


{% endblock %}
