{% extends "master.html" %}

{% block title %}Unsubscribe confirmation{% endblock %}

{% block content %}
<table width="100%"  border="0">
    <tr>
        <td>
            <h1>Unsubscribe confirmation</h1>
            <br>
            <h3>Are you sure you want to unsubscribe from the newsletter:<br> '{{ subscriber.newsletter.name }}'?</h3>
            <br>
        </td>
    </tr>
    <tr>
        <td>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Click here to unsubscribe from the newsletter</button>
            </form>
        </td>
    </tr>
</table>


{% endblock %}