{% extends "master.html" %}

{% block title %}Survey and newsletter subscription{% endblock %}

{% block content_title %}<h1>Survey and newsletter subscription</h1>
{% endblock %}

{% block content %}

    <h1>Anonymous survey on BSBF visit F4E at ITER Organization</h1>

    <form method="post">
        {% csrf_token %}

      <table width="200%" class="table">


        {% for field in survey_form %}
          <tr>
            <th width="40%">{{ field.label_tag }}</th>
            <td width="60%">{{ field }}</td>
          </tr>
        {% endfor %}


          <tr>
                <td colspan="2" >
                  <ul class="nav bg-info">
                    <li class="nav-item">
                    &nbsp;
                    </li>

                  </ul>
                </td>
          </tr>

          <tr>
              <td colspan="2">
                <h1>Subscribe to newsletter {{ short_name }}</h1>
              </td>
          </tr>


    {% if form.errors %}
        <tr>
            <td colspan="2" style="color: red;">
                <div class="alert alert-danger">
                    <p>Please correct the errors below:</p>
                </div>

                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="alert alert-danger">
                            {% if field == 'captcha' %}
                                <!-- Custom handling for captcha errors -->
                                <h4>Captcha Error: {{ error }}</h4>
                            {% else %}
                                <h4>{{ error }}</h4>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    <!-- Manually render the 'subscribe_to_newsletter' field first -->
    <tr>
        <th width="40%"> <label for="{{ form.subscribe_to_newsletter.id_for_label }}">{{ form.subscribe_to_newsletter.label|safe }}</label></th>
        <td width="60%">
            {{ form.subscribe_to_newsletter }}
            {% if form.subscribe_to_newsletter.errors %}
                <div class="alert alert-danger">
                    {% for error in form.subscribe_to_newsletter.errors %}
                        <h4>{{ error }}</h4>
                    {% endfor %}
                </div>
            {% endif %}
        </td>
    </tr>

    {% for field in form %}
        {% if field.name != "subscribe_to_newsletter" %}
        <tr>
            <th width="40%"> <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label></th>
            <td width="60%">
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                            <h4>{{ error }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}



          <tr>
              <th style="font-size: 24px">Privacy policy</th>
              <td>
                <div id="myHtmlContent" contenteditable="false">
                    {{ privacy_policy|safe }}
                </div>

              </td>
          </tr>


          <tr>
              <td colspan="2"  align="center">
                  <div class="d-grid gap-2 col-6 mx-auto">

                    <button type="submit" class="btn btn-lg btn-primary">Submit survey</button>
                  </div>
              </td>
          </tr>
      </table>

    </form>

{% endblock %}
