{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}<h1>{{ title }}</h1>
{% endblock %}

{% block content %}



    <form method="post">
        {% csrf_token %}

      <table width="200%" class="table">

        {% if survey_form %}

          <tr>
                <td colspan="2" >
                  <h1>Anonymous survey on {{ survey_title }}</h1>
                </td>
          </tr>

          {% for field in survey_form %}
          <tr>
            <th width="40%">{{ field.label_tag }}</th>
            <td width="60%">{{ field }}</td>
          </tr>
          {% endfor %}


          <tr>
                <td colspan="2" >
                  <ul class="nav bg-info">
                    <li class="nav-item">
                    &nbsp;
                    </li>

                  </ul>
                </td>
          </tr>

        {% endif %}

          <tr>
              <td colspan="2">
                <h1>Subscribe to newsletter {{ short_name }}</h1>
              </td>
          </tr>


    {% if form.errors %}
        <tr>
            <td colspan="2" style="color: red;">
                <div class="alert alert-danger">
                    <p>Please correct the errors below:</p>
                </div>

                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        {% if field == 'captcha' %}
                        <div class="alert alert-danger">
                            <!-- Custom handling for captcha errors -->
                            <h4>Captcha Error: {{ error }}</h4>
                        </div>
                        {% else %}
                            {% if error != 'This field is required.' %}
                            <div class="alert alert-danger">
                                {% if field == 'captcha' %}
                                    <!-- Custom handling for captcha errors -->
                                    <h4>Captcha Error: {{ error }}</h4>
                                {% elif error == 'This field is required.' %}
                                    <h4>{{ field|title }} is required.</h4>
                                {% else %}
                                    <h4>{{ error }}</h4>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </td>
        </tr>
    {% endif %}

    <!-- Manually render the 'subscribe_to_newsletter' field first -->
    <tr>
        <th width="40%"> <label for="{{ form.subscribe_to_newsletter.id_for_label }}">{{ form.subscribe_to_newsletter.label|safe }}</label></th>
        <td width="60%">
            {{ form.subscribe_to_newsletter }}
            {% if form.subscribe_to_newsletter.errors %}
                <div class="alert alert-danger">
                    {% for error in form.subscribe_to_newsletter.errors %}
                        <h4>{{ error }}</h4>
                    {% endfor %}
                </div>
            {% endif %}
        </td>
    </tr>

    {% for field in form %}
        {% if field.name != "subscribe_to_newsletter" and field.name != "captcha" %}
        <tr>
            <th width="40%"> <label for="{{ field.id_for_label }}">{{ field.label|safe }}</label></th>
            <td width="60%">
                {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                            <h4>{{ error }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>
        {% endif %}
    {% endfor %}

          <tr>
              <th style="font-size: 24px">Privacy policy</th>
              <td>
                <div id="myHtmlContent" contenteditable="false">
                    {{ privacy_policy|safe }}
                </div>

              </td>
          </tr>

          <tr>
                <td colspan="2" >
                  <ul class="nav bg-info">
                    <li class="nav-item">
                    &nbsp;
                    </li>

                  </ul>
                </td>
          </tr>

        <tr>
            <th width="40%"> <label for="{{ form.captcha.id_for_label }}">{{ form.captcha.label|safe }}</label></th>
            <td width="60%">
                {{ form.captcha }}
                {% if form.captcha.errors %}
                    <div class="alert alert-danger">
                        {% for error in form.captcha.errors %}
                            <h4>{{ error }}</h4>
                        {% endfor %}
                    </div>
                {% endif %}
            </td>
        </tr>


          <tr>
              <td colspan="2"  align="center">
                  <div class="d-grid gap-2 col-6 mx-auto">
                      <!-- 1990c8 -->

                    <button type="submit" class="btn btn-lg btn-primary">Submit form</button>
                  </div>
              </td>
          </tr>
      </table>

    </form>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {


    document.getElementById('id_subscribe_to_newsletter').addEventListener('change', function() {
        var isSubscribed = this.value === 'True';
        var fields = ['id_honorific', 'id_email', 'id_name', 'id_surname', 'id_nationality', 'id_company', 'id_role', 'id_telephone', 'id_privacy_policy_accepted'];
        fields.forEach(function(fieldId) {
            document.getElementById(fieldId).required = isSubscribed;
        });
    });



    });
</script>
{% endblock %}
```
